{% load static %}

<h1 class="text-2xl leading-none text-gray-900 tracking-tight mt-3">Account Setting</h1>
<ul class="mt-5 -mr-3 flex-nowrap lg:overflow-hidden overflow-x-scroll uk-tab">
    <li class="nav-item nav-link {% if request.resolver_match.url_name == 'settings' %}uk-active{% endif %}">
        <a href="{% url 'settings:settings' %}">General</a>
    </li>
    <li class="nav-item nav-link {% if request.resolver_match.url_name == 'profile' %}uk-active{% endif %}">
        <a href="{% url 'settings:profile' %}">Profile</a>
    </li>

</ul>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const navLinks = document.querySelectorAll('.nav-link a');


        const activeLink = localStorage.getItem('activeLink');


        if (activeLink) {
            navLinks.forEach(link => {
                link.parentElement.classList.remove('uk-active');
                if (link.getAttribute('href') === activeLink) {
                    link.parentElement.classList.add('uk-active');
                }
            });
        }


        navLinks.forEach(link => {
            link.addEventListener('click', function (event) {

                navLinks.forEach(l => l.parentElement.classList.remove('uk-active'));


                this.parentElement.classList.add('uk-active');

                localStorage.setItem('activeLink', this.getAttribute('href'));
            });
        });
    });
</script>
